framework: auto-detect
storage: none

source https://api.nuget.org/v3/index.json

group net20
  framework: net20
  storage: none
  source https://api.nuget.org/v3/index.json
    nuget LinqBridge

group net35
  framework: net35
  storage: none
  source https://api.nuget.org/v3/index.json
    nuget System.Threading.Tasks.Unofficial
